# ide
.ipynb_checkpoints/
.DS_Store
*.sublime-workspace
*.sublime-project

# python
__pycache__
*.pyc
*.zip
*.rdb
*.egg
*.egg-info
dist
build
sdist
.eggs
venv
_version.py
rgi_cython.c
rgi_cython*.so
rgi_cython*.pyd

# docs
.doc-test-cache
docs/_build
docs/api/
docs/examples/airports
